.*.sw?
*~
*.7z
*.a
*.bmp
*.bz2
*.cbp
*.cmake
*.dll
*.dmg
*.dylib
*.exe
*.exp
*.framework
*.gz
*.ilk
*.lib
*.moc*
*.o
*.obj
*.pdb
*.png
*.jpg
*.pnm
*.pyc
*.pyo
*.so
*.trace
*.zip
*.ubj
*.suo
*.aps
*.tlog
*.iobj
*.ipdb
*.log
*.VC.db
*.dat
*.sdf
*.aux
*.out
*.user
*.opendb
*.csv
build/*
*/build/*
doc/*
*/doc/*
